.app {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 16px;
  font-family: sans-serif;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .logo {
      max-width: 80px;
      margin-right: 10px;
    }

    .title {
      margin: 0;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;

    select {
      margin-top: 5px;
      width: 100%;
      height: 20px;
      border: transparent;
      border-radius: 3px;
    }

    p {
      margin: 20px 0;
    }

    span {
      font-weight: bold;
    }
  }

  button {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #cd423d;
    width: 150px;
    border-radius: 5px;
    margin: 15px auto 0;
    padding: 5px;
    border: transparent;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      background-color: #f2c5c4;
    }
  }

  .participant {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .box {
    background-color: #cce1ee;
    min-width: 400px;
    padding: 20px;
    border-radius: 3px;

    .box-title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .dropdowns {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .dropdown-competency {
      margin-top: 10px;
    }
  }
}
